---

const analyticsId = process.env.VERCEL_ANALYTICS_ID || process.env.PUBLIC_VERCEL_ANALYTICS_ID;
if (!process.env.VERCEL_ANALYTICS_ID) {
 process.env.VERCEL_ANALYTICS_ID = process.env.PUBLIC_VERCEL_ANALYTICS_ID
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <!-- <script>
      import { inject } from "@vercel/analytics";
      inject();
    </script> -->
  </head>
  <body>
    <h1>Astro</h1>
    <h2>{new Date().toISOString()}</h2>
    <p>Analytics id: {analyticsId}</p>
  </body>
</html>
